.header { margin: 5px 0 5px 0;}

.main-tabel 
{
    margin:0 0 0 0;
    float:left;
}

.textbox { width: 140px;}

.other-config-textbox { width: 130px;}

.select { width: 380px;}

.input-file { max-width:235px;}

.confirm-button { width:100px;}

.reject-button
{
    width:100px;
    visibility:hidden;
}

.span { padding:0 20px;}

.th-name { width:60px;}

.th-choose { width:180px;}

.configuration-tabel
{
    margin: -5px 0 0 0;
    float:left;
}

.config tr td,.config tr th 
{
    font-size:15px;
}

.project-name-column { width:400px;}

.state-column { width:120px;}

.last-update-date-column { width:175px;}

.action-column { width:300px;}

.new
{
    background-color:#3333FF;
    color:white;
}

.updated
{
    background-color:#6600CC;
    color:white;
}

.approved
{
    background-color:#009900;
    color:white;
}

.rejected
{
    background-color:#FF0000;
    color:white;
}

.for-deletion
{
    background-color:#000000;
    color:white;
}

.approve-reject-link { margin:0 0 0 10px;}

.edit-link { margin:0 0 0 10px;}

.delete-link { margin:0 0 0 10px;}

.export-to-xml
{
    margin:0 0 0 760px;
}