.header {
    margin: 5px 0 5px 0;
}

.select {
    width: 565px;
}

.span {
    padding: 0 20px;
}

.spanReject {
    padding: 0 0px;
}

.config tr td, .config tr th {
    font-size: 15px;
    border: 1px solid #bbb;
}

.table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
}

.project-name-column {
    width: 35%;
    text-align: center;
}

.state-column, .last-update-date-column  {
    width: 10%;
    text-align: center;
}

.action-column {
    text-align: center;
}

.user-name {
    text-align: center;
}

.edit-link, .approve-reject-link {
    margin: 0 0 0 10px;
}

.delete-link {
    margin: 0 10px 0 10px;
}

.state {
    text-align: center;
}

.projectName {
    padding-left: 10px;
}

.new {
    color: #3333FF;
    font-weight: bold;
}
.updated {
    color: #60C;
    font-weight: bold;
}

.approved {
    color: #009900;
    font-weight: bold;
}

.rejected {
    color: #FF0000;
    font-weight: bold;
}

.for-deletion {
    color: #000000;
    font-weight: bold;
}

.div-textinput {
    margin-top: 15px;
    height: 30px;
}

        .div-textinput label {
            width: 143px;
            float: left;
        }


.div-label {
    width: 120px;
    float: left;
    margin-top: 2px;
}

.div-radiogroup {
    width: 200px;
    margin-left: 205px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.div-build-machine-config {
    width: 175px;
    margin-top: 25px;
}

.check-box {
    margin-right: 5px;
    float: left;
}

.div-add-view {
    width: 600px;
    margin-bottom: 30px;
    margin-top: 35px;
    margin-left: 25px;
}

.builders {
    width: 500px;
}

.builders-group {
    margin-top: 20px;
    width: 590px;
    border: 3px solid rgba(128, 128, 128, 0.39);
    height: 130px;
}

.div-project-to-build {
    margin-top: 15px;
}

.div-project-version-file {
    margin-top: 20px;
}

.add-button {
    margin-left: 10px;
    width: 25px;
}

.textbox{
    margin-left: 5px;
    width: 330px;
}
.project-to-build-label {
    width: 145px;
}

.div-legend{
    width: 585px;
    margin-top: 5px;
}

.div-drop-down, .args, .builder-config{
    float: left;
    margin-top: 10px;
    width: 173px;
    margin-left: 15px;
}
    .builder-config{
        float: none;
        width: 500px;
        display: inline-block;
    }

    .args{
        width: 400px;
    }
        .args input{
            width: 360;
        }

.div-configuration {
    margin-bottom: 10px;
}

.left {
    float: left;
}

.div-folder-chooser {
    margin-top: 20px;
}


div [name='projectToBuild']{
    margin-top: 35px;
    width: 655px;
    border: 3px solid rgba(128, 128, 128, 0.79);
    padding-left: 30px;
}


.div-file-chooser-label {
    width: 143px;
    float: left;
}

.div-project-name {
    float: left;
    width: 202px;
}

.button-container{
    width: 585px;
    text-align: center;
    margin-top: 15px;
}
        .button-container .button {
            width: 100px;
        }
        .button-container .button.reject {
            margin-top: 10px;
            margin-left: 10px;
            font-size: 15px;
            display: none;
        }

.div-url-type {
    margin-left: 145px;
    margin-top: 3px;
}

.close-builder, .close-project-to-build{
    float: right;
    display: inline-block;
    padding: 2px 5px;
    background: rgba(128, 128, 128, 0.39);
}


.help-view{
    width: 480px;
    margin-top: 7px;
    display: block;
    border: solid #bbb 1px;
    background-color: #f0f0f0;
    padding: 1em;
    margin-bottom: 1em;
}

.helptext {
    font-family: Verdana, Helvetica, sans serif;
    font-size: 11px;
    display: block;
}

.image {
    margin-left: 10px;
}

.error-block{
    margin-left: 150px;
    margin-top: 5px;
    display: block;
    color: #CC0000;
    font-weight: bold;
    min-height: 16px;
    line-height: 16px;
    background: no-repeat left center;
}

.user {
    font-size: 15px;
}

.reason {
    font-family: Verdana, Helvetica, sans serif;
    font-size: 15px;
    color: #CC0000;
}

.title-header {
    width: 600px;
    margin-bottom: 10px;
}

.label-add-view {
    font-family: Verdana, Helvetica, sans serif;
    font-size: 15px;
    color: #CC0000;
    margin-left: 10px;
    display: none;
}


.field-help-error {
    width: 635px;
    display: block;
    color: #CD5C5C;
    font-weight: bold;
    font-size: 13px;
    min-height: 16px;
    line-height: 16px;
    border: solid #bbb 1px;
    background-color: #FFE4E1;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    top: 100px;
    z-index: 102;
}

.div-none {
    display: none;
}

.reject-div {
    width: 535px;
    display: block;
    font-weight: bold;
    font-size: 13px;
    min-height: 16px;
    line-height: 16px;
    border: solid #696969 2px;
    background-color: #f0f0f0;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    margin-left: 35%;
    margin-top: 15%;
}

.textReject {
    width: 500px;
    height: 25px;
    margin-top: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.help-top {
    top: 23px;
}

.reject-label {
    text-align: center;
    font-size: 17px;
    width: 535px;
    word-wrap: break-word;
}

.div-drop-down-list-item {
    margin-left: 5px;
    width: 165px;
}

.email-notification{
    margin-left: 37px;
    width: 330px;
}

.wrong-email {
    font-family: Verdana, Helvetica, sans serif;
    font-size: 12px;
    color: #CC0000;
}

.display-none{
    display: none;
}

.hidden{
    visibility: hidden;
}
.wrong {
    border: 1px solid red;
}
.version{
    float: right;
    font-size: 14px;

}
.user-field, .add-user-field{
    margin-left: 120px;
    margin-top: 10px;
    margin-right: 10;
    margin-bottom: 10;
    width: 180;
}
    .add-user-field{
        margin-left: 0;
    }
