<?xml version='1.0' encoding='UTF-8'?>
<configurations>
  <job name="Java Test">
    <projects>
      <project pathToFile="pom.xml" baseProjectFolder="\trunk\configurator">
        <repository type="Subversion" url="https://scm.amcbridge.com/scm/svn/repo_build_automation_management_tool"/>
        <pathToArtefacts/>
        <versionFiles versionFile="false"/>
        <configs>
          <config builder="Java MAVEN" platform="x86"/>
        </configs>
      </project>
      <project pathToFile="TestJenkinsConsoleApplication.sln" baseProjectFolder="">
        <repository type="Subversion" url="https://svn.amcbridge.com/builds_automation/TestJenkinsProj/TestJenkinsConsoleApplication"/>
        <pathToArtefacts/>
        <versionFiles versionFile="false"/>
        <configs>
          <config builder="VS 2010" platform="x86" configuration="Release"/>
        </configs>
      </project>
    </projects>
    <scripts/>
    <buildMachineConfiguration/>
  </job>
</configurations>